<div class="field" disabled="disabled">
  <label [for]="name" class="block" [class.disabled-label]="disabled">
      {{label}}
    <span *ngIf="control.hasValidator(Validators.required)"
                                                    class="required-asterisk">*</span></label>
  <p-rating [id]="name" [formControl]="control" [attr.aria-describedby]="name+'-help'" [stars]="10"></p-rating>

  <ng-container *ngIf="control.touched || control.dirty">
    <small [id]="name+'-help'" class="p-error block" *ngIf="control?.errors?.required">
      {{label}} is required.
    </small>
    <small [id]="name+'-help'" class="p-error block" *ngIf="control?.errors?.email">
      {{label}} is not valid.
    </small>
    <small [id]="name+'-help'" class="p-error block" *ngIf="control?.errors?.pattern">
      {{label}} is not valid.
    </small>
  </ng-container>
</div>
