<div class="field">
    <label [for]="name" class="block">
        {{label}} <span *ngIf="control.hasValidator(Validators.required)" class="required-asterisk">*</span>
    </label>
    <span class="p-input-icon-right">
        <i role="button" [ngClass]="passwordInput.type == 'password' ? 'pi pi-eye': 'pi pi-eye-slash'"
            (click)="passwordInput.type = passwordInput.type == 'password' ? 'text' : 'password'"></i>
        <input type="password" [formControl]="control" [feedback]="feedback" [name]="name" [attr.aria-describedby]="name+'-help'"
            [attr.autocomplete]="autocomplete" pPassword #passwordInput />
    </span>
    <ng-container *ngIf="control.touched || control.dirty">
        <small [id]="name+'-help'" class="p-error block" *ngIf="control?.errors?.required">
            {{label}} is required.
        </small>
        <small [id]="name+'-help'" class="p-error block" *ngIf="control?.errors?.matching">
            {{label}} needs to match.
        </small>
    </ng-container>
</div>